COMPOSE_PROJECT_NAME=booking-os

POSTGRES_VERSION=17.10
POSTGRES_DB=booking_os
POSTGRES_USER=booking
POSTGRES_PASSWORD=booking
POSTGRES_PORT=5432

REDIS_VERSION=8.8.1-alpine
REDIS_PORT=6379

MINIO_GO_IMAGE_VERSION=1.24.13-alpine3.22
MINIO_ALPINE_VERSION=3.22.5
MINIO_SERVER_VERSION=RELEASE.2025-10-15T17-29-55Z
MINIO_CLIENT_VERSION=RELEASE.2025-08-13T08-35-41Z
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_DEFAULT_BUCKET=booking-os
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_VERSION=v1.30.0
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

CADDY_VERSION=2.11.3
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
