COMPOSE_PROJECT_NAME=booking-os

POSTGRES_VERSION=17.10
POSTGRES_DB=booking_os
POSTGRES_USER=booking
POSTGRES_PASSWORD=booking
POSTGRES_PORT=5432

REDIS_VERSION=8.8.0-alpine
REDIS_PORT=6379

MINIO_VERSION=RELEASE.2025-07-23T15-54-02Z
MINIO_CLIENT_VERSION=RELEASE.2025-07-21T05-28-08Z
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_DEFAULT_BUCKET=booking-os
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_VERSION=v1.27
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025